/* ========== import three fonts ========= */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&family=Yellowtail&display=swap');

/* =========Variable======== */
*{
    box-sizing: border-box;
}


:root{
    --nav-font:'Merriweather', serif;
    --paragraph-font:'Roboto', sans-serif;
    --styles-font:'Yellowtail', cursive;
    --nav-bg-color: rgb(8, 146, 165);
    --nav-text-color:rgb(125, 132, 178);
}

h3,h2,h1,h4{
    cursor: pointer;
}


/* ========== Jumbotron or top text ============ */
.top-text{
    font-family: var(--styles-font);
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 100 !important;
}
.top-text p{
    margin-top: -.85rem !important;
    margin-bottom: 0rem;
    font-size: 1.3rem;
}

/* ============== navbar ========= */
.logo{
   
  
   
}
.logo img{
    width: 3rem;
    height: 2rem;
    /* margin-left: 102px; */
    position: absolute;
    top: 10px;
    left: 5%;

}
.navbar{
    /* height: 55px; */
}

.nav-container{
    padding-right: 0px;
    margin-right: 2px;
    /* margin-left: 10px; */
    
}
.nav-container nav{
    position: relative;
    /* top: -5px; */
}
.active{
    font-weight: 1200;
    
}
.nav-container nav{
    
  font-size: 17px;
  font-family: var(--nav-font);
  font-weight: 900;
  /* position: relative;
  right: 0%; */
 
    
}
.nav-container nav ul li a{
   position: relative;
   top: -15%;
}
.search{
   position: relative;
   left: 2%;
   
}
.search input{
    width: 120px !important;
    height: 30px !important;
   margin-top: -10px;
}
.search-icon span{
    
   margin-top: -10px;
}










/* =================== Slider ==================== */
.slider{
    height: 500px !important;
}
.slider img{
    height: 500px;
}
.sider-text{
    position: absolute;
    bottom: 0px;
    left: 60%;
    top: 50%;
    transform: translate(-50%);
    width: 100% !important;
}
.sider-text h1{
    color: white !important;
    font-family: var(--paragraph-font);
    font-weight: 800;
    font-size: 3rem;
    width: 100% !important;
    letter-spacing: 10px;
    text-align: center;
}
/* ============================ Intro library =================== */
.library-intro{
    background-color: #FAFAFA;
}
.library-intro p{
    font-size: 15px !important;
}

   




/* ===================== Team section ============== */

.team-text h2::after{
    content: " ";
    width: 14%;
    height: 2px;
    background-color:rgb(22, 219, 55);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}


.team-member .team img{
width: 13rem;
height: 13rem;
padding: 3px;
border: 2px solid green;
}
.team1{
 background-color: #20BE80 !important;
}
.team3{
    position: relative;
    left: 12%;
    background-color: #20BE80 !important;
}

.team3 img{
width: 15rem;
height: 13rem;
padding: 3px;
border: 2px solid green;
position: relative;
left: 12%;

}



  /* ========== Footer ============= */
  #about{
      transition: 2s;
  }

  .social-icon ul li ,i{
    display: inline;
    padding: 0px 4px 0px 4px;
   
}
.social-icon ul li {
margin-left: -10px;
 
}

.copyright{
  display: flex;
}
.copyright {
 justify-content: center;
}



/* ====================== Topics ================ */
.topic-name img {
     height: 250px ;
     width: 100%;
}
.topic-name h2{
    position: absolute;
    bottom: 0%;
    left: 50%; 
    top: 50%;   
    transform: translate(-50% , -50%);
    width: 80%;
    }

.intro .intro-img img , .customer-side img ,
 .Advantage-side img , .disadvantage-side img{
  width: 100%;
}

.intro h3 span ,.customer h3 span ,
.disadvantage h3 span ,.advantage h3 span  {
    padding: 2px;
}






/* ==================== Project Plan ================== */
.admin-menu{
    height: 400px;
}

.admin-img img{
    width: 100%;
    height: 40%;

}


.graph img{
    width: 70%;
    height: 500px;
}




/* ================ goal =-============== */
.obj-img img{
    width: 100%;
    height: 220px;
}



/* ===============Demo =================== */
.demo img{
    width: 70%;
    height: 500px;
}

.demo-iteam img{
    width: 80%;
    height: 550px;
}

/* ================= Code =================== */
.code .code-content p , .code .code-content ul li ,
.code .code-content .login p 
{
    font-size: 16px !important;
}

.code .code-content ul li{
    list-style: none;
}
.code .code-content ul li::before {
    content: "\2022";  
    color: #20BE80;
    font-weight: bold;
    display: inline-block;  
    width: 3em; 
   
  }
.code .code-content{
   
    background-color: #FAFAFA !important;
}

.source-code .import pre , .login pre{
    border-left: 3px solid #20BE80;
    padding: 5px 0px 3px 5px;
    background-color:white;
    font-size: 16px;
}




/* ================ future =-============== */
.future-img img{
    width: 100%;
    height: 220px;
}

/* ================ challenges =-============== */
.challenges-img img{
    width: 100%;
    height: 220px;
}



/* ==================== Media ============ */

@media (max-width: 575.98px) { 

/* ========= Home ============ */
.team1 , .team3{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
   }
   .team3{
   width: 14rem !important;
}

.team3 img{
    width: 13rem;
    height: 13rem;
    padding: 3px;
    border: 2px solid green;
    position: relative;
    left: 2%;
 
    
    }
    .team3-body{
        text-align: left !important;
    }
    .sider-text{
        position: absolute;
        bottom: 0px;
        left: 55%;
        top: 20%;
      
        transform: translate(-50%);
        width: 100% !important;
    }
    .slider h1{
        font-size: 2rem;
        position: absolute;
        top: 40%;
        text-align: center;
      
    }



}


@media (min-width: 576px) and (max-width: 767.98px) { 

    .nav-btn{
        position: relative;
        right: 2% !important;
    }
    .nav-container nav{
        position: relative;
      right: -12%;
    }

    /* ========= Home ============ */
.team1 , .team3{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
     }

     .sider-text{
        position: absolute;
        bottom: 0px;
        left: 55%;
        top: 20%;
      
        transform: translate(-50%);
        width: 100% !important;
    }

    .sider-text h1{
        position: absolute;
       top: 50%;
        font-size: 2.5rem;
        letter-spacing: 4px;
    }

    

 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .sider-text{
  
     top: 1%;
       
    }



}


@media (min-width: 992px) and (max-width: 1199.98px) { 


    
    .nav-container nav ul  li a{
        font-size:14px !important;
        padding: 4px ;
    }
    .sider-text h1{
        position: absolute;
        top: 10%;
    }
 }


@media (min-width: 1200px) { 


}